/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2024, 12:23:57 PM
    Author     : ritik
*/
* {
    margin: 0;
}

.mis_container{
    width:100%;
    border: 1px solid black;
    min-height: 88.5vh !important;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ecfddd;
    border-top: 3px solid #82ca82;
}   

.mis_card{
    border: 1px solid rgb(26, 189, 80);
    min-height: 70vh;
    width: 86%;    
    border-radius: 15px;
    background-color: rgb(130, 202, 130);
    display: flex;
    justify-content: center;
}


.mis_card_report{
    border: 1px solid rgb(26, 189, 80);
    min-height: 86vh;
    width: 98%;    
    border-radius: 15px;
    background-color: rgb(130, 202, 130);
}


.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    grid-gap: 30px;
    justify-content: center;
    padding: 30px;
    margin: 10px;
}


.mis_product{
    width: 80%;
    height: 95px;
    border: 1px solid rgb(126, 124, 124);
    border-radius: 15px;
    margin-left: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 236, 241);
    cursor: pointer;
    font-weight: 600;

    min-width: 150px;

}
.mis_product:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}


.flex_viewReport{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media screen and (max-width: 768px) {
    .mis_card{
        padding-right: 36px;
    }
}


#excelFrame {
    width: 90%;
    display: inline-block;
    height: 500px; /* Adjust height as needed */
    border: 1px solid #ccc;
}


.form_container{

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Admin CSS */

.labelForAdmin{
    color: black;
    font-weight: 900;
}


.mis_card_adminView{
    border: 1px solid rgb(26, 189, 80);
    min-height: 70vh;
    /*width: 40%;*/ 
    min-width: 50vw;
    background-color: rgb(130, 202, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName{
    color: black;
    font-family: serif;
    background-color: #ecfddd;
    border: #82ca82 solid 1.9px;
    padding: 6px;
    border-radius: 6px;
    /*text-decoration: underline;*/
}


/* Popup CSS */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
    overflow: auto;
}

.popup h2 {
    margin-top: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

table {
    width: 100%;
    height: 90%;
    overflow: no-content;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    text-wrap: nowrap;
}

th {
    background-color: #82CA82;
}

td {
    background-color: #ECFDDD;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-overlay.show {
    display: flex;
}


.textWrapForLink{
    width: 10%;
    text-wrap: wrap;
}

::-webkit-scrollbar {   
    width: 6px;
    height: 6px;
    padding: 4px;
}

::-webkit-scrollbar-thumb {   
    border-radius: 10px;
    background: -webkit-gradient(linear,left top,left bottom,from(#475568),to(#475568));
    box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}

::-webkit-scrollbar-track {     
    background-color: #fff;
    border-radius:10px;
    background: white;
}       